.contains{
    background: #000;
    margin: 1;
    padding: 1%;
    text-align: center;
    width: 30rem;
}
.subtitle2{
    font-size: 1rem;
}
.circulo-container {
    display: flex;
    justify-content: space-between;
  }
  
  .circular-button {
    display: block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-right: 10px; 
  }
  
  .text {
    margin-left: 10px;
  }
  
  .row {
    width: 5rem;
    display: flex;
    align-items: center;
    margin-bottom: 20px; 
  }

  .btnss{
    align-items: center;
    margin-left: 7rem;
  }
  .finalizar{
    border-radius: 50rem;
    border-color: #05c988;
    background: #000;
  }
  
  
  