
  .form-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 22px;
  }
  
  .form-subtitle {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 22px;
  }
  .iconEmp {
    width: 34px; /* Ancho del icono */
    height: 34px; /* Alto del icono */
    background-image: url('./assets/icons/CuentaEmpresa.svg'); /* Ruta al archivo SVG */
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    margin-right: -23rem; /* Espacio entre el icono y el texto */
    margin-top: -2rem;
  }
   
   
   label {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    margin-top: 25px;
   }
   
  
/* Estilos para inputs y selects */
input[type='text'],
input[type='email'],
select {
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #c1c1c1;
  border-radius: 22px; /* Redondea los bordes a 22px */
  width: 22rem;
  box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
  font-size: 14px;
  background-color: #000;
  color: #c1c1c1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

input{
  background-color: #000;
  color: #c1c1c1;
  height: 38px;
}


/* Ajusta el tamaño de los selects */
select {
  height: 35px; /* Ajusta la altura para que sea igual que la de los inputs */
}

/* Ajusta el tamaño de los selects en dispositivos pequeños */
@media (max-width: 600px) {
  select {
    height: 30px; /* Reducir la altura en dispositivos pequeños si es necesario */
  }
}


.half-width select {
  width: 48%; /* Se ajusta para dejar un pequeño espacio entre los elementos */
  margin-top: 5px; 
}



/* Estilos para el botón */
button[type='submit'] {
  margin-top: 20px;
  padding: 8px 16px; /* Ajustar el padding para hacerlo más pequeño */
  background-color: #212121;
  color: #14dbad;
  border-color: #14dbad;
  border: none;
  border-radius: 21px;
  cursor: pointer;
  width: 150px; /* Establecer un ancho fijo para el botón */
  margin: 0 auto; /* Centrar el botón */
  display: block; /* Hacer que el botón sea un bloque para centrarlo */
  font-size: 21px;
}
button[type='submit'] {
  border-color: #14dbad !important; /* Cambia el color del borde */
}

@media (max-width: 600px) {
  button[type='submit'] {
    width: 120px; /* Reducir aún más el ancho en dispositivos pequeños si es necesario */
    padding: 6px 12px; /* Ajustar el padding para dispositivos pequeños */
  }
}


button[type='submit']:hover {
  background-color: #14dbad;
  color: #212121;
  border-color: #212121;
}

.responsable-center {
  text-align: center;
}



.half-width select {
  width: calc(50% - 5px); /* Ancho del 50% con un pequeño espacio entre elementos */
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* Cambia el ancho a 100% para que ocupe todo el ancho disponible */
  max-width: 400px; /* Establece un ancho máximo para la tarjeta */
  margin: 0 auto;
  padding: 20px;
  background-color: #000;
  border-radius: 8px;
}

/* Añade un nuevo estilo para la clase que define la mitad del ancho */
.half-width {
  display: flex;
  justify-content: space-between; /* Distribuye los elementos uniformemente */
}

.otros-botonesFormulario{
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  margin-top: 8px;
}

@media (max-width: 600px) {
  .form-container {
    padding: 10px; /* Reduce el padding en dispositivos pequeños */
  }
}

.responsable-center{
  font-size: 1rem;
}

