*{
    font-family: 'Helvetica Neue', sans-serif;
}
.Register {
    width: 37rem;
    margin: 0 auto;
    padding: 40px;
    background-color: #000;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    margin-top: -3rem;
    height: 24rem;
  }
  .titulo-global {
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem; 
    margin-bottom: 5rem;
  }
  
  .titulo {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .perfiles {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 3rem;
  }
  
  .perfil {
    background-color: #000;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    max-width: 150px;
    margin-right: 10px;
    text-align: center;
  }
  
  .perfil:not(.perfil-activo) {
    background-color: #212121;
    color: #fff;
  }
  
  .perfil-activo {
    background-color: #14dbad; 
    color: #212121; 
  }
  
  .perfil-descripcion {
    font-size: 14px;
    margin-top: 3rem;
  }
  
  .registrarme {
    width: 13rem;
    height: 50px;
    background-color: #212121;
    color: #14dbad;
    border-color: #14dbad;
    font-size: 18px;
    cursor: pointer;
    margin-top: 6rem;
  }

  button{
    text-align: center;
  }
  
  .otro-boton {
    width: 100px;
    height: 2px;
    margin: 10px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    padding: 4px;
  }
  
  .otro-boton:first-child {
    background-color: #14dbad;
  }
  
  .otro-boton:not(:first-child) {
    background-color: #212121;
  }
  
  